.play {
    padding: 7% 0;
}

.player-img {
    width: 10%;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proceed-btn {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}